{{!-- TODO in hbs --}}
<div class="profile-container" id="profile">
    <div class="circle-avatar"></div>
    <h2 class="username">Иван</h1>
    <table class="profile-table">
        <tr>
            <th>Почта</th>
            <td class="right">pochta@yandex.ru</td>
        </tr>
        <tr>
            <th>Логин</th>
            <td class="right">ivanivanov</td>
        </tr>
        <tr>
            <th>Имя</th>
            <td class="right">Иван</td>
        </tr>
        <tr>
            <th>Фамилия</th>
            <td class="right">Иванов</td>
        </tr>
        <tr>
            <th>Имя в чате</th>
            <td class="right">Иван</td>
        </tr>
        <tr>
            <th class="last-row">Телефон</th>
            <td class="right last-row">+7 (909) 967 30 30</td>
        </tr>
    </table>

    <table class="control-table">
        <tr>
            <th><button class="login-button-small" id="change-profile-button">Изменить данные</button></th>
            <td></td>
        </tr>
        <tr>
            <th><button class="login-button-small" id="change-password-button">Изменить пароль</button></th>
            <td></td>
        </tr>
        <tr>
            <th class="last-row" ><button id="red" class="login-button-small">Выйти</button></th>
            <td class="last-row"></td>
        </tr>
    </table>
</div>