<div class="mini-screen">
    <h1>Вход</h1>
    <div id="login">
        <label>Логин</label>
        {{> Input id="login-input" type="text" placeholder="логин"}}
    </div>

    <div id="password">
        <label>Пароль</label>
        {{> Input id="password-input" type="text" placeholder="пароль"}}
    </div>

    <div id="aut-button">
        {{> Button id="autorize" text="Авторизоваться"}}
    </div>

    <div id="create-button">
        {{> Button id="create" text="нет аккаунта?"}}
    </div>
</div>