{{!-- TODO in hbs --}}
<div class="profile-container" id="profile">
    <div class="circle-avatar"></div>
    <table class="profile-table">
        <tr>
            <th>Почта</th>
            <td class="right"><input class="change-input" placeholder="pochta@yandex.ru" /></td>
        </tr>
        <tr>
            <th>Логин</th>
            <td class="right"><input class="change-input" placeholder="ivanivanov" /></td>
        </tr>
        <tr>
            <th>Имя</th>
            <td class="right"><input class="change-input" placeholder="Иван" /></td>
        </tr>
        <tr>
            <th>Фамилия</th>
            <td class="right"><input class="change-input" placeholder="Иванов" /></td>
        </tr>
        <tr>
            <th>Имя в чате</th>
            <td class="right"><input class="change-input" placeholder="Иван" /></td>
        </tr>
        <tr>
            <th class="last-row">Телефон</th>
            <td class="right last-row"><input class="change-input" placeholder="+7 (909) 967 30 30" /></td>
        </tr>
    </table>

    <button class="login-button-big" id="back-to-profile">Сохранить</button>
</div>