{{!-- TODO rewrite it for hbs  --}}
<div class="login-container" id="reg-container">
    <h1 class="login-head">Регистрация</h1>
    <form>
     <label for="email">Почта</label>
     <input class="login-input" id="email" type="email" name="email" />

     <label for="login">Логин</label>
     <input class="login-input" id="login" name="login" />

     <label for="first_name">Имя</label>
     <input class="login-input" id="first_name" name="first_name" />

     <label for="second_name">Фамилия</label>
     <input class="login-input" id="second_name" name="second_name" />

     <label for="phone">Телефон</label>
     <input class="login-input" id="phone" name="phone" />

     <label for="password">Пароль</label>
     <input class="login-input" id="password" name="password" />

     <label for="password">Пароль (ещё раз)</label>
     <input class="login-input" id="password" name="password" />
     
     <button class="login-button-big" id="reg-button-registration" type="button">Зарегистрироваться</button>
     <button class="login-button-small" id="reg-button-to-login" type="button">Войти</button>
    </form>
</div>