{{!-- TODO rewrite it for hbs  --}}
<div class="login-container" id="log-container">
    <h1 class="login-head">Вход</h1>
    <form>
    <label for="login">Логин</label>
    <input class="login-input" id="login" name="login" />
    <label for="password">Пароль</label>
    <input class="login-input" id="password" name="password" />
    <button class="login-button-big" id="login-button-login" type="button">Авторизоваться</button>
    <button class="login-button-small" id="login-button-create" type="button">Нет аккаунта?</button>
    </form>
</div>