{{!-- TODO in hbs --}}
<div class="profile-container" id="profile">
    <div class="circle-avatar"></div>
    <table class="profile-table">
        <tr>
            <th>Страый пароль</th>
            <td class="right"><input class="change-input" type="password" /></td>
        </tr>
        <tr>
            <th>Новый пароль</th>
            <td class="right"><input class="change-input" type="password"/></td>
        </tr>
        <tr>
            <th>Повторите новый пароль</th>
            <td class="right"><input class="change-input" type="password" /></td>
        </tr>
    </table>

    <button class="login-button-big" id="back-to-profile">Сохранить</button>
</div>